@import "tailwindcss";
@import "uniwind";

@layer theme {
    :root {
        /* Dark theme variables */
        @variant dark {
            --color-primary: #1a120d;
            --color-secondary: #000000;

            --color-card: #291d16;
            --color-card-selected: #412c1f;

            --color-btn: #763219;
            --color-text: #ffffff;
            --color-text-secondary: #fedbcc;
        }

        /* Light theme variables */
        @variant light {
            --color-primary: #ffece6;
            --color-secondary: #ffffff;

            --color-card: #ffffff;
            --color-card-selected: #fdc8b7;

            --color-btn: #fedbcc;
            --color-text: #000000;
            --color-text-secondary: #291d16;
        }

        /* Premium theme variables */
    }
}
